@font-face {
    font-family: OPfont;
    src: url(./media/OPfont2.ttf);
}
@font-face {
    font-family: otaku;
    src: url(./media/otaku.ttf);
}
.fontOP{
    font-family: OPfont;
}
.fontotaku{
    font-family: otaku;
}
.bg_box{
    background-image: linear-gradient(to bottom right, rgba(255,0,0,.8), rgba(255,165,0,.8), rgba(255,215,0,.8), rgba(255,165,0,.8), rgba(255,0,0,.8));
}
.border_color{
    border-image-source: linear-gradient(to bottom right, rgba(255,0,0,.8), rgba(255,165,0,.8), rgba(255,215,0,.8), rgba(255,165,0,.8), rgba(255,0,0,.8));
    border-image-slice: 5;
	padding: 5px 20px;
}
.bg_site{
    background-color: black;
}
.logo_nav{
    height: 1.25rem;
    width: 1.25rem;
}
.title_nav{
    font-size: 1.25rem;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
.bg_header{
  background-image: url(./media/header-bg.jpg);
  height: 50vh;

}
.bg_image{
    background-image: url(https://wallpaperaccess.com/full/538943.jpg);
}
.bg_mask{
    background-color: rgba(0, 0, 0, 0.8);
}
.logo_header{
    height: 2.5rem;
    width: 2.5rem;
}
.title_header{
    font-size: 2.5rem;
}
.title_subtitle{
    font-size: 1.25rem;
}
.text_size_box{
    font-size: 1.1rem;
}
.bg_footer{
    background-image: linear-gradient(rgba(65, 53, 2, 0.748),rgba(55, 24, 2, 0.77),rgb(59, 11, 11),rgba(28, 28, 28, 0.593),black);
}
@media screen and (min-width: 768px) {
    .title_nav{
        font-size: 2rem;
    }
    .logo_nav{
        height: 2rem;
        width: 2rem;
    }
    .title_header {
        font-size: 5rem;
    }
    .logo_header{
        height: 5rem;
        width: 5rem;
    }
    .title_subtitle{
        font-size: 2.5rem;
    }
    .text_size_box{
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 992px) {
    .title_nav{
        font-size: 2rem;
    }
    .logo_nav{
        height: 2rem;
        width: 2rem;
    }
    .title_header {
        font-size: 9rem;
    }
    .logo_header{
        height: 9rem;
        width: 9rem;
    }
    .title_subtitle{
        font-size: 4.5rem;
    }
    .text_size_box{
        font-size: 2.8rem;
    }
}
@media screen and (min-width: 1200px) {
    .title_nav{
        font-size: 2.8rem;
    }
    .logo_nav{
        height: 2.8rem;
        width: 2.8rem;
    }
    .title_header {
        font-size: 10rem;
    }
    .logo_header{
        height: 10rem;
        width: 10rem;
    }
    .title_subtitle{
        font-size: 5rem;
    }
    .text_size_box{
        font-size: 2.9rem;
    }
}